body {
  background: blanchedalmond;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}           

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .b {
    max-width: 60%;
  }
  .a, .b {
    width: 100%;
  }
}